/*Arquitectura CSS*/

/*ej de menu con BEM*/

.menu {
	margin-top: 0;
	margin-bottom: 2rem;
	padding-left: 0;
	list-style: none;
	display: flex;
	position: absolute;
	top: 0;
}

.menu__link {
	text-decoration: none;
	color: #555;
	display: block;
	padding: 0 2rem;
}

.menu__item {
	border-right: 1px solid darkred;
	position: relative;
}

.menu__item:last-child {
	border-right: none;
}

.submenu {
	position: absolute;
	top: 100%;
	display: none;	
}

.menu__item:hover .submenu {
	display: block;
}

.submenu__item {
	border-right: none;
}

/*ritmo vertical*/


.notebook {
	min-height: 50vh; 
	border: thin solid #000;
	background-image: linear-gradient(#fff 95%, #999 95%);
	background-size: 100% 24px;
}

--line-height:24px;

.notebook h1 {
	line-height: var(--line-height) * 3;
	margin: 0;
}

.notebook p {
	line-height: var(--line-height);
	margin: 0;
}
